@model GroceryStore.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.image_path)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.image_path)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.product_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product_price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product_price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.product_details)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product_details)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Catagory.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Catagory.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
